.header_top{
    background-color: black;
    height: 50px;
}


.container_logo{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding: 10px 5px;
}

#navbarNavDropdown{
    justify-content: flex-end;
}

/* common */
section{
    margin-bottom: 50px;
}


/* hero */

#hero{
    background-image: url(../img/jumbo-bg.png);
    /* height: 1000px; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    padding-top: 300px;
    color: white;
}


.container_img img{
    width: 100%;
    border-radius: 50px;
    padding: 20px;
}


.hero{
    display: flex;
}

.hero_img{
    height: 40px;
}
/* play_has_no_limits */

#play_has_no_limits h3{
    padding-top: 100px;
}

#play_has_no_limits h5{
    color: blue;
}
#play_has_no_limits p{
    color: grey;
}

.container_img_play_has_no_limits img{
    width: 100%;
}

.bord_bot::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin:  auto;
    background-color: blue;
}


/* it takes two */

#it_takes_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    color: white;
    padding: 50px;
    margin-bottom: 0px;
}

.it_takes_two_img{
    max-height: 100px;
}

/* nuove uscite */

#nuove_uscite{
    padding-top: 50px;
    background-color: #1f1f1f;
    color: white;

}


/* PS4 */

.container_img_ps4 img{
    width: 100%;
}