body {
	font-family: Arial, sans-serif;
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}
.header_top {
	background-color: black;
	display: flex;
	justify-content: flex-end;
	padding: 12px 20px;
}
.header_top img {
	height: 15px;
}
.header_bottom {
	background: white;
}
.header_bottom .navbar-light .navbar-nav .nav-link {
	color: #000;
	font-size: 17px;
}
.header_bottom .dropdown-toggle::after {
	content: url('../img/chevron-down-solid.svg');
	border: none;
	display: inline-block;
    width: 10px;
    vertical-align: middle;
}
.header_bottom .lens {
	height: 25px;
}

/* COMMON */
section{
    margin-bottom: 50px;
}

/* BUTTONS */

.btn_grey {
	background-color: #363636;
	color: white;
}

.btn_red{
	background-color: #cd3d0f;
	color: white;
}

.btn_blue{
    background-color: #2d64e6;
    color: white;
}

.btn_plus{
    background-color: #d9dadc;
    color: #2d64e6;
    margin-bottom: 20px;
}

.btn_white{
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

/* BUTTONS HOVER */

.btn_grey:hover{
    box-shadow:inset  0px 0px 2px 2px white;
    color: white;
    background-color: grey;
}

.btn_red:hover{
	box-shadow: inset 0px 0px 2px 2px black;
    color: white;
}

.btn_blue:hover{
    box-shadow: inset 0px 0px 2px 2px white;;
    color: white;
}

.btn_plus:hover{
    box-shadow: inset 0px 0px 2px 2px white;
    background-color: #d9dadc;
    color: #2d64e6;
}

.btn_white:hover{
    box-shadow: inset 0px 0px 2px 2px black;
    background-color: white;
    color: black;
}

/* SEZIONI MAIN */


/* HERO */

#hero{
    background-image: url(../img/jumbo-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    padding: 300px 0 50px 0;
    color: white;
    margin-top: 90px;
}


.container_img img{
    width: 100%;
    border-radius: 30px;
    padding: 10px;
}


.hero{
    display: flex;
}

.hero_img{
    height: 40px;
}

.translate:hover{
    transform: translateY(-20px) ;
    transition: transform 0.3s;

}

.shadow_blue{
    box-shadow: inset 0px 0px 1px 1px blue;
}

/* PLAY HAS NO LIMITS */

#play_has_no_limits h3{
    padding-top: 100px;
}

#play_has_no_limits h5{
    color: blue;
}
#play_has_no_limits p{
    color: grey;
}

.container_img_play_has_no_limits img{
    width: 100%;
}



.bord_bot::after{
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin:  auto;
    background-color: blue;
}

.opacity{
    opacity: 0.7;
}

.opacity:hover{
    opacity: 1;
}


/* IT TAKES TWO */

#it_takes_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    color: white;
    padding: 50px;
    margin-bottom: 0px;
}

.it_takes_two_img{
    max-height: 100px;
}

/* NUOVE USCITE */

#nuove_uscite{
    padding: 70px 0;
    background-color: #1f1f1f;
    color: white;

}


/* PS4 */
#esplora_play4{
    padding: 60px 0;
}

.container_img_ps4 img{
    width: 100%;
}

/* PS PLUS */

#ps_plus{
    background-color: #bebcbb;

}

.container_img_ps_plus img{
    width: 100%;
}

/* SALES */

.container_img_sales img{
    width: 100%;
    margin-bottom: 20px;
}

/* PS NOW */

#ps_now{
    background-color: #161c3b;
    color: white;
    padding: 50px 0;
}

.container_ps_now_plus_left img{
    max-width: 300px;

}
.container_ps_now_plus img{
    width: 100%;
}

/* SOCIAL */

.container_img_social img{
    width: 100%;
    margin-top: 20px;
}

/* /SEZIONI MAIN */ 

/* FOOTER */

footer{
    margin-top: 40px;
    background-color: #00439c;
    color: white;
    padding-top: 40px;
}

.img_logo{
    height: 100px;
    margin-bottom: 20px;
}

.fa-globe{
    margin-right: 10px;
}

footer ul{
    list-style: none;
}
footer ul li{
    padding: 5px 0;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover{
    color: white;
}

.img_logo_footer{
    width: 100px;
}

.span_underline{
    text-decoration: underline;
}
span a{
    color: white;
}

span a:hover{
    color: white;
}